[SddmGreeterTheme]
Name=HoltOS
Description=HoltOS Glass sign-in
Author=HoltOS
License=MIT
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=holtos
Theme-API=2.0
QtVersion=6
