[Desktop Entry]
Type=Application
Version=1.0
Name=Install HoltOS
GenericName=System Installer
TryExec=calamares
Exec=sh -c "pkexec calamares"
Comment=Install HoltOS to this machine
Icon=/etc/calamares/branding/holtos/logo-icon.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
