[Desktop Entry]
Type=Application
Name=HoltOS Updater
Comment=Check for and apply HoltOS updates
Exec=/usr/local/bin/holtos-updates
Icon=holtos-logo
Categories=System;
Terminal=false
