[Desktop Entry]
Type=Application
Name=HoltOS Apps
GenericName=App Store
Comment=Install media players, game launchers, browsers and more from Flathub
Exec=/usr/local/bin/holtos-apps
Icon=holtos-logo
Categories=System;PackageManager;
Keywords=store;apps;flatpak;flathub;install;
