[Desktop Entry]
Type=Application
Name=Prowlarr
Comment=Indexer management
Exec=falkon http://localhost:9696
Icon=holtos-prowlarr
Categories=Network;
Terminal=false
